
.chatBox{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  h6{
    max-width: 50%;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    color:#000
  }
}

.userMessage{
  justify-content: flex-end !important;
  position: relative;
  h6{
    background: #a5dda2;
  }
}

.friendMessage{
  justify-content: flex-start !important;
  position: relative;
  h6{
    background: #90abea;
  }
}

.userMessage::after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -10px;
  transform: rotate(270deg);
  top: auto;
	bottom: auto;
	border: 6px solid;
	border-color: #a5dda2 transparent transparent transparent;  
}

.friendMessage::before{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -10px;
	right: auto;
  transform: rotate(90deg);
	top: auto;
  bottom: auto;
	border: 6px solid;
	border-color: #90abea transparent transparent transparent;  
}